In [1]:
print("Hello")

Hello

In [7]:
x = 10  # Integer
y = 3.14  # Float (decimal number)
name = "John Doe"  # String
is_student = True  # Boolean (True/False)
print(name)
print(type(name))
print(y)

John Doe
<class 'str'>
3.14

In [8]:
name = "Hari"
age = 26
print("Name:", name, "Age:", age)

Name: Hari Age: 26

In [9]:
print(f"Hello, I am {name}. I am {age} years old.")

Hello, I am Hari. I am 26 years old.

In [10]:
name = input("Can you please tell your sweet name ?")
print(f"Hello, {name}!")

Can you please tell your sweet name ? krishna

Hello, krishna!

In [13]:
print(f"{name}. WOW!!.")
age = int(input("Would you mind to tell your age ?"))
print(f"You are {age} years old.")

krishna. WOW!!.

Would you mind to tell your age ? 30

You are 30 years old.

In [15]:
country, city = input("which country are you from and which city (separated by comma)").split()
print(f"Intersting you are from {city}, {country}!")

which country are you from and which city (separated by comma) india mathura

Intersting you are from mathura, india!

In [ ]:
# Data types in Python

In [16]:
x = 10
y = 3.14
name = "Alice"
is_active = True

print(type(x))  # <class 'int'>
print(type(y))  # <class 'float'>
print(type(name))  # <class 'str'>
print(type(is_active))  # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [17]:
age = input("Enter your age: ")  # Always returns a string
age = int(age)  # Convert to integer
print(f"You will be {age + 1} next year.")

Enter your age:  52

You will be 53 next year.

In [18]:
num = 100
num_str = str(num)
print("The number is " + num_str)  # Concatenation requires strings

The number is 100

In [19]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)  # Convert list to tuple
my_set = set(my_list)  # Convert list to set
print(my_tuple, my_set)

(1, 2, 3, 4) {1, 2, 3, 4}

In [20]:
a = 10
b = 3

print(a + b)  # 13
print(a - b)  # 7
print(a * b)  # 30
print(a / b)  # 3.3333
print(a // b)  # 3
print(a % b)  # 1
print(a ** b)  # 1000 (10^3)

13
7
30
3.3333333333333335
3
1
1000

In [21]:
num = 3.14159
print(round(num, 2))  # 3.14 (Rounded to 2 decimal places)

3.14

In [22]:
num = 7.8
print(int(num))  # Output: 7 (removes decimal part, no rounding)

7

In [23]:
x = 5e3  # 5 * 10^3 = 5000.0
y = 1.2e-4  # 1.2 * 10^-4 = 0.00012
print(x, y)

5000.0 0.00012

In [ ]:
# Conditions in Python (if, elif, else)

In [24]:
age = 18

if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

In [25]:
age = 16

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

In [26]:
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

In [ ]:
# Logical Operators (or and not)

In [27]:
age = 25
income = 5000

if age > 18 and income > 3000:
    print("Eligible for a loan.")

Eligible for a loan.

In [28]:
age = 16
has_parent_permission = True

if age >= 18 or has_parent_permission:
    print("You can participate.")

You can participate.

In [29]:
is_student = False

if not is_student:
    print("You need to pay full price.")

You need to pay full price.

In [30]:
# Nested if 
age = 20
citizen = True

if age >= 18:
    if citizen:
        print("You can vote.")
    else:
        print("You need to be a citizen to vote.")
else:
    print("You are too young to vote.")

You can vote.

In [ ]:
@ Iterations (Loops)

In [31]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [32]:
for i in range(5):  # Numbers from 0 to 4
    print(i)

0
1
2
3
4

In [33]:
for num in range(1, 10, 2):  # Start=1, Stop=10, Step=2
    print(num)

1
3
5
7
9

In [34]:
# while loop
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [35]:
for num in range(1, 10):
    if num == 5:
        break  # Stop the loop when num == 5
    print(num)

1
2
3
4

In [36]:
for num in range(1, 6):
    if num == 3:
        continue  # Skip when num == 3
    print(num)

1
2
4
5

In [37]:
word = "Python"

for letter in word:
    print(letter)

P
y
t
h
o
n

In [ ]:
# List ,sets, Tuples and dictionaries

In [38]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [39]:
print(fruits[0])   # First element
print(fruits[-1])  # Last element

apple
cherry

In [40]:
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'cherry']

In [41]:
fruits.append("mango")   # Add to end
fruits.insert(1, "grape")  # Insert at index 1
print(fruits)

['apple', 'grape', 'blueberry', 'cherry', 'mango']

In [42]:
fruits.remove("apple")  # Remove by value
fruits.pop(2)           # Remove by index
print(fruits)

['grape', 'blueberry', 'mango']

In [46]:
# Tuple (Ordered and immutable)
numbers = (10, 20, 30)
print(numbers)
print(numbers[0])  # First element


# Tuples are faster and memory-efficient compared to lists.

(10, 20, 30)
10

In [48]:
# Sets (Unordered and unique)
unique_numbers = {1, 2, 3, 4, 4, 5}
print(unique_numbers)

unique_numbers.add(6)
unique_numbers.remove(3)
print(unique_numbers)

{1, 2, 3, 4, 5}
{1, 2, 4, 5, 6}

In [49]:
A = {1, 2, 3}
B = {3, 4, 5}

print(A.union(B))      # {1, 2, 3, 4, 5}
print(A.intersection(B))  # {3}
print(A.difference(B))  # {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [54]:
# Dictionaries (Key-value pairs)
student = {
    "name": "John",
    "age": 25,
    "grade": "A"
}
print(student)

print(student["name"])  # Output: John
student["city"] = "New York"  # Adding new key-value pair
student["grade"] = "A+"
print(student)

del student["age"]
print(student)

{'name': 'John', 'age': 25, 'grade': 'A'}
John
{'name': 'John', 'age': 25, 'grade': 'A+', 'city': 'New York'}
{'name': 'John', 'grade': 'A+', 'city': 'New York'}

In [ ]:
# Python Functions
Functions help us write reusable and organized code. Instead of repeating the same code multiple times, we define a function and call it when needed.

In [55]:
def greet():
    print("Hello! Welcome to Python.")

# Calling the function
greet()

Hello! Welcome to Python.

In [60]:
def greet_user(name):
    print(f"Hello, {name}!")

greet_user("Madhu mangal")

Hello, Madhu mangal!

In [61]:
def add(a, b):
    return a + b  # Returns the sum

result = add(5, 10)
print(result)

15

In [63]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()        # Uses default value
greet("Jaganath")  # Overrides default value

Hello, Guest!
Hello, Jaganath!

In [65]:
def introduce(name, age):
    print(f"My name is {name}, and I am {age} years old.")

introduce(age=30, name="Baladev")

My name is Baladev, and I am 30 years old.

In [66]:
# A function can return more than one value.

def get_square_and_cube(n):
    return n**2, n**3

square, cube = get_square_and_cube(3)
print(f"Square: {square}, Cube: {cube}")

Square: 9, Cube: 27

In [68]:
# Lambda (Anonymous) Functions
#A lambda function is a short function with no name.

square = lambda x: x ** 2
print(square(5))

25

In [69]:
#Lambda with Multiple Arguments
multiply = lambda x, y: x * y
print(multiply(3, 4))

12

In [72]:
# Using Lambda Inside Another Function

def make_multiplier(n):
    return lambda x: x * n

double = make_multiplier(2)  # Returns a lambda function that doubles the input
print(double(5))

10

In [76]:
# Using Lambda with map()

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)

#Equivalent to:

def square(x):
    return x ** 2

squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [77]:
#Using Lambda with filter()
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [78]:
#Using Lambda with sorted() and key

students = [("Alice", 85), ("Bob", 72), ("Charlie", 90)]
students_sorted = sorted(students, key=lambda x: x[1])  # Sort by scores
print(students_sorted)

[('Bob', 72), ('Alice', 85), ('Charlie', 90)]

In [79]:
# Using Lambda with reduce()

from functools import reduce

numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)

120